body{
    margin: 0;
}
#wrapper *{
    padding: 20px;
    font-size: 20px;
    border: 20px solid rgba(0,0,0,0.5);
}
#wrapper header,#wrapper footer{
    background-color: blue;
    color: white;
}
#wrapper main{
    background-color: yellow;
}
#wrapper header{
}
#wrapper footer{
    
}
p{
    width: 400px;
    height: 2.5em;
    padding: 1em 1em 1em 1em;
    border: 1px solid black;
}
.autoscroll{
    overflow:auto;
}
.clipped{
    overflow: hidden;
}
.default{
    overflow: visible;
}
#a{
    width: 60px;
    height: 60px;
    border: 20px solid rgba(0,0,0,0.5);
    padding: 20px;
    margin: 20px 0;
    background-size: 140px;
    background-position: center;
    background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-color: gold;
}
.default{
    background-clip: border-box;
}
.padding-box{
    background-clip: padding-box;
}
.content-box{
    background-clip:content-box;
}
h3{
    padding: 1em;
    border: 1px solid black;
}
span{
    border: 1px solid green;
    background-color: yellow;
}
span .inline {
    display: inline;
}
span .block {
    display: inline;
}
span .inline-block{
    display: inline;
}