*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    background-color: #00e600;
    height:100%;
}
.container h1{
    padding: 10px 20px;
    font-size: 5em;
}
.container p{
    padding: 20px;
}
.container-child{
    background-color: red;
    width: 100%;
    height: 200px;
    margin:10px 20px;
    margin-top: 10em;
}
.container-child ul li{
    margin-left: 30px;
    padding: 10px;
}